* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    background-color: #F9FAFB;
}
header .header-left {
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header .header-orta {
    width: 467px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .header-orta a {
    text-decoration: none;
    color: black;
}
header .header-orta .a2 {
    display: none;
}
header .header-rigth {
    width: 223px;
    height: 40px;
    border: 1px solid black;

}
header .header-right .login {
    width: 70px;
    height: 40px;
    background-color: white;
    border-radius: 4px;
    border: none;

}
header .header-right .sign {
    width: 137px;
    height: 40px;
    background-color: blue;
    border-radius: 4px;
    color: white;
    border: none;
}
.main {
    width: 100%;
    height: 856px;
    background-image: url(/assets/img/8da4b2bd18a9ae624ae66abc71fc172ed5cb7975.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
}
.main h2 {
    width: 750px;
    height: 46px;
    background-color: white;
    border-radius: 4px;
    font-size: 20px;
    padding: 5px;
}
.main h2 b {
    color: blue;
}
.main .like {
    width: 929px;
    height: 108px;
    color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main h3 {
    font-size: 55px;
}
.main .box {
    width: 1280px;
    height: 260px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.main .box .sound {
    width: 284px;
    height: 196px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main .box .sound p {
    font-size: 22px;
    font-weight: 900;
}
.main .box .sound small {
    font-size: 20px;
}
.main .box .sound span {
    color: blue;
}